


h1 {
  border: 0px solid black;
  padding: 25px;
  font-size: 110px
}
main {
	width:100%;
	height:200px;
	}
h2 {
	background-color:#4CAF50
	}
article {
	background-color:#F7FDEB;
	width:70%;
	}
 p {
	background-color: #4CAF50;
	width:30%;
	}
.alltabs {
  background-color: #333;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
  z-index:9999;
}

.alltabs li{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.alltabs li:hover {
  background-color: #ddd;
  color: black;
}

.alltabs li.active {
  background-color:  #333;
  color:  #333;
}

.alltabs .icon {
  display: none;
}

ol li {
    width: 100%;
    font-size: 20px
}
ul li {
    width: 100%;
    font-size: 20px
}
}
#textContainer .outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}   
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}


.bg {
  /* Full height */
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color:white;
  font-size: 100px;
  z-index:1;
}
footer {
   bottom: 0;
    width: 100%;
}
.footer {
    height: 100px;
    margin: auto;
    width: 700px;
    text-align:center;
    padding:10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.render {
  position: relative;
  left:  -20px;
  width: 45%;
  height: 45%;
  border: 3px solid white;
}

.render2 {
  position: relative;
  right: -50px;
  width: 45%;
  height: 45%;
  border: 3px solid white;
}

.notbold {
  font-weight: normal;
}​

body, html{
  height: 100%;
}